body {
  background-image: url(background.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family:Garamond;
}

.jumbotron {
    background-image: url("header.jpg");
    background-size: 100% 100%;
    text-align: center;
    font-family:Garamond;
  }

ul {
  list-style-type: none; 
  text-align: left;
}

label {
  float: left;
  width: 200px;
  padding-right: 24px;
  font-size: large;
  font-weight: bold;
}

input {
  float: left;
  width: calc(100% - 200px);
  font-size: large;
}

button {
  float: right;
  width: calc(100% - 200px);
  font-size: large;
  font-weight: bold;
}

select {
  float: left;
  width: calc(100% - 200px);
  font-size: large;
}

p {
  font-size: large;
}

.data th {
  width: 300px;
  table-layout: fixed;
  background-color: #b0d6ed;
  color: 	#040d13;
  font-size: large;
}

.data td {
<<<<<<< HEAD
  background-color: #b0d6ed;
=======
  background-color: #ffffff;
>>>>>>> ssathya
  color:	#040d13;
  font-size: large;
}

.maxdata th {
  width: 300px;
  background-color: #b0d6ed;
  color:	#040d13;
  font-size: large;
}

.maxdata td {
<<<<<<< HEAD
  background-color: #b0d6ed;
=======
  background-color: #ffffff;
>>>>>>> ssathya
  color:	#040d13;
  font-size: large;
}